{% extends 'base.html' %}

{% block page_body %}
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="panel panel-success">
        <div class="panel panel-heading">
            <div class="panel-title">成绩查询</div>
        </div>
        <div class="panel-body">
            <form action="/score" method="post">
                <div class="form-group">
                    <label for="ticket">准考证号：</label>
                    <input type="text" name="ticket" class="form-control" id="ticket"/>
                </div>
                <div class="form-group">
                    <label for="sname">姓名：</label>
                    <input type="text" name="name" class="form-control" id="sname"/>
                </div>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" checked name="scet" id="scet4" value="1"/>CET4
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="scet" id="scet6" value="2"/>CET6
                    </label>
                </div>
                <button type="submit" class="btn btn-success btn-block">成绩查询</button>
            </form>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="panel panel-info">
        <div class="panel panel-heading">
            <div class="panel-title">找回准考证号</div>
        </div>
        <div class="panel-body">
            <form action="/ticket" method="post">
                <div class="form-group">
                    <label for="province">省份：</label>
                    <select name="province" id="province" class="form-control">
                        <option value="山东">山东</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="school">学校：</label>
                    <select name="school" id="school" class="form-control">
                        <option value="山东农业工程学院">山东农业工程学院</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="tname">姓名：</label>
                    <input type="text" name="name" class="form-control" id="tname"/>
                </div>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" checked name="tcet" id="tcet4" value="1"/>CET4
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="tcet" id="tcet6" value="2"/>CET6
                    </label>
                </div>
                <button id="getTicket" type="button" class="btn btn-primary btn-block" data-toggle="modal"
                        data-target="#ticketModal">找回准考证号
                </button>
            </form>
        </div>
    </div>
</div>
{% end %}

{% block body_expand %}
<div class="modal fade" id="ticketModal" tabindex="-1" role="dialog" aria-labelledby="ticketModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ticketModalLabel">找回准考证</h4>
            </div>
            <div class="modal-body">
                <div id="ticket_number">
                    抱歉，未找到您的准考证
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% end %}
